<!-- timer/templates/timer/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>番茄鐘</title>
    <style>
        #timerDisplay {
            font-family: Arial, sans-serif;
            font-size: 48px;
            text-align: center;
            margin-top: 20%;
            
        }
        button {
            font-size: 24px;
            margin: 5px;
            background-color: #d7c5f8;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #5c03c8;
        }
    </style>
</head>
<body>
    <div id="timerDisplay">
        <span id="hours">00</span>:<span id="minutes">25</span>:<span id="seconds">00</span>
    </div>
    <div style="text-align:center;">
        <button id="startPauseButton" onclick="startPauseMainTimer()">Start</button>
        <button onclick="resetTimer()">Reset</button>
    </div>
    <script>
        let mainTimer;
        let mainSeconds = 0;
        let mainMinutes = 25;
        let mainHours = 0;
        let mainIsTimerRunning = false;

        const audio = new Audio('{% static "alarmclock.mp3" %}');

        function startPauseMainTimer() {
            if (!mainIsTimerRunning) {
                startMainTimer();
            } else {
                pauseTimer();
            }
        }

        function startMainTimer() {
            mainTimer = setInterval(updateMainTimer, 1000);
            mainIsTimerRunning = true;
            document.getElementById('startPauseButton').innerText = 'Pause';
        }

        function updateMainTimer() {
            mainSeconds--;

            if (mainSeconds < 0) {
                mainSeconds = 59;
                mainMinutes--;

                if (mainMinutes < 0) {
                    mainMinutes = 59;
                    mainHours--;

                    if (mainHours < 0) {
                        clearInterval(mainTimer);
                        timerComplete();
                        return;
                    }
                }
            }

            updateMainTimerDisplay();
        }

        function updateMainTimerDisplay() {
            const formattedMainHours = padTime(mainHours);
            const formattedMainMinutes = padTime(mainMinutes);
            const formattedMainSeconds = padTime(mainSeconds);

            document.getElementById('hours').innerText = formattedMainHours;
            document.getElementById('minutes').innerText = formattedMainMinutes;
            document.getElementById('seconds').innerText = formattedMainSeconds;
        }

        function timerComplete() {
            audio.play();
            resetTimer();
            alert("Time's up!");
            audio.pause();
            
        }

        function pauseTimer() {
            clearInterval(mainTimer);
            mainIsTimerRunning = false;
            document.getElementById('startPauseButton').innerText = 'Start';
        }

        function resetTimer() {
            clearInterval(mainTimer);
            mainIsTimerRunning = false;
            mainSeconds = 0;
            mainHours = 0;
            mainMinutes = 25;
            updateMainTimerDisplay();
            document.getElementById('startPauseButton').innerText = 'Start';
        }

        function padTime(time) {
            return (time < 10) ? `0${time}` : time;
        }

        // Initial display update
        updateMainTimerDisplay();
    </script>
</body>
</html>